<section id="partners" class="section20 bg-dark hidden-xs">
  <div class="container">
    <div class="row">
      <ul class="partners-logo">
        <li class="col-md-2 col-sm-2"><a href="#"><%= image_tag "logo1.png" %></a></li>
        <li class="col-md-2 col-sm-2"><a href="#"><%= image_tag "logo2.png" %></a></li>
        <li class="col-md-2 col-sm-2"><a href="#"><%= image_tag "logo3.png" %></a></li>
        <li class="col-md-2 col-sm-2"><a href="#"><%= image_tag "logo4.png" %></a></li>
        <li class="col-md-2 col-sm-2"><a href="#"><%= image_tag "logo1.png" %></a></li>
        <li class="col-md-2 col-sm-2"><a href="#"><%= image_tag "logo2.png" %></a></li>
      </ul>
    </div>
  </div>
</section>
