!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Sales Demo'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Sales Demo'}"}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,800&amp;subsetting=all' rel='stylesheet' type='text/css'>

    /[if lt IE 9]
      = javascript_include_tag "ie"

  %body
    = render 'layouts/header'
    = yield
    = render 'layouts/footer'
    <a href="#" class="scroll-up"><i class="fa fa-arrow-up"></i></a>
